<header><app-menu-bar></app-menu-bar></header>

<app-menu-title></app-menu-title>
<div class="container_articles">
    <div class="articles__main">
        <app-big-card photoCover="https://img.quizur.com/f/img5f0c80e0bd9d08.31973740.jpg?lastEdited=1594654954"
            cardTitle="AGORAAA SIM TA DINAMICO" cardDescription="TENHO CERTEZA, ANGULAR AJUDA MUITO"></app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card photoCover="https://img.freepik.com/fotos-premium/melhor-foto-aleatoria_865967-90967.jpg"
            cardTitle="Primeira noticia"></app-small-card>
        <app-small-card
            photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyDPv7HDnqMHz7mnr6rZ4_dj1aLz5Tv5F7RRXZCagsOqQhktX2yGT_IDAY2IFmbGDWWeY&usqp=CAU"
            cardTitle="Segunda noticia"></app-small-card>
        <app-small-card
            photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRinNwnC4EYZVVC9amUnE4wdae53Q6tWiP0ROYGksHiqx4I0ATfUZLchAutudCnEmXkTe8&usqp=CAU"
            cardTitle="Terceira noticia"></app-small-card>
    </div>
</div>